
#container
{
	width:100%;
}
#footer
{
	background-color:#D5DCDA;
	width:100%;
	clear:both;
	text-align:center;
	color:#1C6186;
	position:fixed;
	bottom:0px;
	left:0px
} 

#header
{
	background-color:#D5DCDA;
	width:100%;
	height:120px;
	text-align:center;
	position:fixed;
	top:0px;
	left:0px
} 

#menu
{
	width:100px;
	position:fixed;
	left:20px;
	top:120px;
	height:300px;
	
}
a
{
	text-decoration: none;
    color: #208CC6;
    font: 22px 'DINWebProRegular', helvetica, arial, serif;
	letter-spacing:1px
}
h2,h3{
  color: #86ac3a;
  font: 30px 'DINWebProRegular', helvetica, arial, serif;
}
h1{
  color: #1C6186;
  font: 72px 'DINWebProRegular', helvetica, arial, serif;
  letter-spacing:3px
}

