
<html>
<head>
    <link rel="stylesheet" type="text/css" href="site_media/css/myhomepage.css">
	<script src='site_media/js/bootstrap.js'></script>
	<link type='text/css' rel='stylesheet'
		href='site_media/css/bootstrap.css' />
</head>

<!-- <body background="site_media/images/mac.jpg"> -->
<body>
 
	<div id="container">
		<div id="header">
			<h1> My Python </h1>
			<div id="menu">
	        {% block content %}{% endblock %}
		    </div>
		</div>
		<a href='home'> home</a>
	    <div id="footer">
	        Copyright © django powered 
		</div>
	</div>
	
</body>
</html> 