{% extends "base.html"%}

{% block content%}
<form action="nike_create_user" method="post" class="well">{% csrf_token %}
			<label>user name</label>
			<input name='userName' class="span3" placeholder="type your name here ..">{{userName}}</input><br>
			<label>user id</label>
			<input  name='userId' class="span3" placeholder="type your name here ..">{{userId}}</input><br><br>
			<input type="submit"value="submit" class="btn btn-primary"></br>
			{{error}}
</form>
{% endblock%}

{% for key,value in posts.items %}
   <p class="lead"> key: {{key}}<br>
   <code>value : {{value}}</code><br>
   -----<br>
{% endfor%}