

{% extends "base.html"%}

{% block content%}
<p class="lead">South Park is an American adult animated sitcom created by Trey Parker and Matt Stone for the Comedy Central television network. Intended for mature audiences, the show has become famous for its crude language and dark, surreal humor that satirizes a wide range of topics. The ongoing narrative revolves around four boys—<code>Stan Marsh</code>,<code> Kyle Broflovski</code>,<code> Eric Cartman</code> and <code>Kenny McCormick</code> —and their bizarre adventures in and around the titular Colorado town. 
<!-- <p>Back to <a href="./sticky-footer.html">the sticky footer</a> minus the navbar.</p> -->




{% endblock%}