

{% extends "base.html"%}

{% block content%}
{% autoescape off %}

Force and Pressure <br>

CBSE Text Book <br>

http://www.slideshare.net/themassmaker/8-forces-and-pressure#<br>

video : <br>

http://www.dailymotion.com/video/xxm6m0_class-viii-force-and-pressure-force-v01_school <br>

http://www.youtube.com/watch?v=o7tE3dRSsrQ <br>

http://www.youtube.com/watch?v=NYVMlmL0BPQ <br>

Friction 
 <br>
http://www.youtube.com/watch?v=C7NPD9W0kro <br>

types of friction <br>
http://www.youtube.com/watch?v=9XtGJXVnQxk <br>

http://www.youtube.com/watch?v=gN2c5GIBjJ8 <br>

Is friction a necessary evil  <br>

http://www.youtube.com/watch?v=VBBeaokDkjQ
 <br>

Sound : <br>

http://www.youtube.com/watch?v=wI3ZJwkD-Fc <br>

http://www.youtube.com/watch?v=CmY5R6yXq34 <br>


characteristics of sound : <br>

http://www.youtube.com/watch?v=_uhQyHdl22E <br>

http://www.youtube.com/watch?v=7braiW6KXmY <br>

http://www.youtube.com/watch?v=7braiW6KXmY <br>

Chemical Effects of Electric Current <br>

http://www.youtube.com/watch?v=iD7Zv-DLCI4 <br>
http://www.youtube.com/watch?v=2MRBVyKigy4 <br>


conductivity of liquids  <br>

http://www.youtube.com/watch?v=B5_t45V8z1A <br>

an actual student (telugu video) <br>
http://www.youtube.com/watch?v=c5ny2bvMw2w <br>

Some Natural Phenomena : <br>

Lightning 
 <br>
http://www.youtube.com/watch?v=h-0gNl5f4BU <br>
http://www.youtube.com/watch?v=_bY-8ozney8 <br>

protection from lightning <br>

http://www.youtube.com/watch?v=iR2m5F3ABhk <br>


{% endautoescape %}


{% endblock%}