

{% extends "base.html"%}

{% block content%}
{% autoescape off %}

<code>Force and Pressure </code><br>

<a>http://www.slideshare.net/themassmaker/8-forces-and-pressure#<br></a>

<code>video : </code><br>

<a>http://www.dailymotion.com/video/xxm6m0_class-viii-force-and-pressure-force-v01_school </a><br>

<a>http://www.youtube.com/watch?v=o7tE3dRSsrQ </a><<br>

<a>http://www.youtube.com/watch?v=NYVMlmL0BPQ</a>< <br>

<code>Friction </code>
 <br>
<a>http://www.youtube.com/watch?v=C7NPD9W0kro </a><<br>

<code>types of friction </code><br>
<a>http://www.youtube.com/watch?v=9XtGJXVnQxk </a><<br>

<a>http://www.youtube.com/watch?v=gN2c5GIBjJ8</a>< <br>

<code>Is friction a necessary evil</code>  <br>

<a>http://www.youtube.com/watch?v=VBBeaokDkjQ</a><
 <br>

<code>Sound : </code><br>

<a>http://www.youtube.com/watch?v=wI3ZJwkD-Fc </a><<br>

<a>http://www.youtube.com/watch?v=CmY5R6yXq34 </a><<br>


{% endautoescape %}


{% endblock%}