<html>
<body>

<form action="submitForm" method="POST">
    username: <input type="text" name="userName">
    password: <input type="password" name="password">
    <input type="submit" value="submit">
</form>
</body>
</html>



#controller class

@Controller
public class UserDetailsFormController{
	
	@RequestMapping("/submitForm", Request.method = "GET")
	public @ResponseBody UserDetails processFormRequest(){

	 if( UserDetailsValidator.isValidRequestObject(userDetails) ){

	   // userDetails to service or business layer
	   return userDetails;
	}
	 else {
	 retrun error with error code;
	}

     }
@RequestMapping("/users/:userId", Request.method = "GET")
	public @ResponseBody UserDetails processFormRequest(@ParhVariable userId){

 
      return deatils of user with userID ;
     }

@RequestMapping("/users/:userId/todos", Request.method = "GET")
	public @ResponseBody UserDetails processFormRequest(@ParhVariable userId){

 
      return deatils of user with userID ;
     }
 
}

json

{
	"userName":"pranith",
	"password":"somepasswd"
}


@Model ( POJO )
public class UserDetails{
	
	private String useName;
	private String password

	----- getters and setters -------
}

public class UserDetailsValidator{
  
    public static boolen isValidRequestObject(UserDetails userDetails){

     if(userDetails != null){
      return true;
 }
  else{
  return false;
}

}

Service Layer
/*


*/

public class UserDetailsService{
	public void processUserDetails(UserDetails userDetails){

	String userName = userDetails.getUserName();
}
}


DAO layer 

public class UserDetailsDAO {
	

	query insert into some table values()
	execute

}
