

<html>
<head>
    <link rel="stylesheet" type="text/css" href="site_media/css/myhomepage.css">
</head>

<!-- <body background="site_media/images/mac.jpg"> -->
<body>

	<div id="container">
		<div id="header">
	        <h1>play with python</h1>
		</div>
	    <div id="menu">
			<ul>
			<li><div id="python">
				<h2> <a href="http://www.diveintopython.net/toc/index.html"> python </a></h2>
			</div></li>
			<li><div id="django">
				 <h2> <a href="http://www.djangobook.com/en/2.0/index.html"> django </a></h2>
			</div></li>
			<li><div style="height:80px;top:260px;width:169px;background-color:#61D2C6;text-align:center;">
				 <h2> <a href="http://flask.pocoo.org/"> flask </a></h2>
			</div></li>
			<li><div id="flask">
				  <h2> <a href="http://www.crummy.com/software/BeautifulSoup/bs4/doc/"> beautiful soup </a></h2>
			</div></li>
			<li><div style="height:80px;top:260px;width:169px;background-color:#61D2C6;text-align:center;">
				 <h2> <a href="http://bottlepy.org/docs/dev/"> bottle </a></h2>
			</div>	</li>
		</ul>   
		  
	    </div>
	    <div id="footer">
	        Copyright © django powered 
		</div>
	</div>
	
</body>
</html> 