

<html>
<head>
    <link rel="stylesheet" type="text/css" href="site_media/css/myhomepage.css">
</head>

<!-- <body background="site_media/images/mac.jpg"> -->
<body>

	<div id="container">
		<div id="header">
	        <h1 style="margin-bottom:0;">play with python</h1>
		</div>
	    <div id="menu">
           <h2> <a href="http://www.diveintopython.net/toc/index.html"> python </a></h2>
           <h2> <a href="http://www.djangobook.com/en/2.0/index.html"> django </a></h2>
           <h2> <a href="http://flask.pocoo.org/"> flask </a></h2>
		   <h2> <a href="http://www.crummy.com/software/BeautifulSoup/bs4/doc/"> beautiful soup </a></h2>
		   <h2> <a href="http://bottlepy.org/docs/dev/"> bottle </a></h2>
		  
	    </div>
	    <div id="footer">
	        Copyright © django powered 
		</div>
	</div>
	
</body>
</html> 